<%- include("partials/header") %>

<h1 class="view-header">Customer Details</h1>

<div class="table">
  <table>
    <thead class="header1">
      <tr>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Credits</th>
        <th>Transfer</th>
      </tr>
    </thead>
    <% for(let user of users){ %>
    <tbody class="header2">
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email%></td>
        <td><%= user.credits%></td>
        <td>
          <button class="select-btn">
            <a href="/view/<%= user._id %>">Select</a>
          </button>
        </td>
      </tr>
    </tbody>
    <% } %>
  </table>

  <%- include("partials/footer") %>
</div>
